<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.coupon.distribution.dao.mapper.CouponTemplateMapper">

    <update id="decrementCouponTemplateStock">
        UPDATE t_coupon_template
        SET stock = stock - #{decrementStock}
        WHERE id = #{couponTemplateId}
        AND shop_number = #{shopNumber}
        AND stock >= #{decrementStock}
    </update>

</mapper>